{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>
    Injecting: <br>
    &nbsp; <a href="{{WEBSITE2}}" target="_blank">{{WEBSITE2}}</a> <br>
    Into: <br>
    &nbsp; <a href="{{WEBSITE1}}" target="_blank">{{WEBSITE1}}</a> 
  </p>
{% endblock %}
